<div class="about-section">
  <p id="paragraph-1">
  	I currently work as a software engineer at Applied Predictive Technologies.  I specialize in .NET MVC, SQL Server, and Ruby on Rails. I am currently learning Android  and Node.js development
  </p>
  <p id="paragraph-2">
    My favorite topics in computer science are Machine Learning and Artificial Intelligence.  
  </p>
  <p id="paragraph-3">
    Contact me by email at rboling91@gmail.com
  </p>
</div>