<div class="about-section">
  <p id="paragraph-1">
  	I am a Software Engineer currently attending Harvard University.  I will be moving to Washington D.C. in July of 2014 to work for Applied Predicative Technologies.  I specialize in Ruby on Rails, and I am currently learning Android  and Node.js development
  </p>
  <p id="paragraph-2">
    My favorite topics in computer science are Machine Learning and Artificial Intelligence.  
  </p>
  <p id="paragraph-3">
    Contact me by email at rboling91@gmail.com
  </p>
</div>