<div class="row">
  <div class="hero-unit">
  	<h2>Thank you for visiting my website!</h2>
    <p>I am a software developer currently living in Boston, Massachusetts.  I will be moving to Washington D.C. in the summer of 2014. 
    </p>
  </div>
</div>